@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color_bg: #c4c4c4;
  --color_white: #fff;
  --color_dark: #26252d;
  --color_partition: rgb(4, 152, 135);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--color_bg);
  font-size: 18px;
  line-height: 25px;
}

li {
  list-style-type: circle;
}
.resume_wrapper {
  display: flex;
  width: 1080px;
  margin: 50px auto;
  background: var(--color_white);
  padding: 10px;
}

.resume_wrapper .resume_left {
  width: 35%;
  background: var(--color_dark);
}

/* .resume_wrapper .resume_left .resume_image {
  width: 100%;
} */

.profile_img {
  max-width: 150px;
  display: block;
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
}

.resume_wrapper .resume_title {
  color: var(--color_white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_info,
a {
  color: var(--color_bg);
}

.resume_wrapper .resume_left .resume_bottom {
  padding: 20px 30px;
}

.resume_wrapper .resume_item {
  padding: 20px 0;
  border-bottom: 1px solid var(--color_partition);
}

.resume_wrapper .resume_item:last-child {
  border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole {
  display: none;
}

.resume_wrapper .resume_namerole .name {
  font-size: 20px;
  color: var(--color_white);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role {
  color: var(--color_bg);
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child {
  margin-top: 10px;
}

.resume_subtitle {
  color: var(--color_white);
  margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0.2rem;
  margin-bottom: 1rem;
}
.stack {
  background: var(--color_partition);
  color: var(--color_white);
  padding: 0.1rem 0.2rem;
  border-radius: 5rem;
}
/* .resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #0175b2;
	width: 100%;
	height: 100%;
} */

.resume_wrapper .resume_right {
  width: 65%;
  padding: 20px 40px;
  color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name {
  color: var(--color_dark);
  font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title {
  color: var(--color_dark);
}

.resume_wrapper .resume_right .resume_data {
  display: flex;
}

.resume_wrapper .resume_right .resume_data .year {
  padding-right: 0;
  width: 115px;
  position: relative;
}

.resume_wrapper .resume_right .resume_data .content {
  padding-left: 35px;
  margin-bottom: 20px;
  width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(--color_white);
  border: 1px solid var(--color_dark);
  border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 100%;
  background: var(--color_partition);
}

.resume_wrapper .resume_right .resume_data:last-child .year:after {
  display: none;
}

.resume_wrapper .resume_right .resmue_interests .resume_info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Projects */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 16px;
}

.project-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.project-item p {
  font-size: 1rem;
}

.project-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  border-style: none;
}
.img-wrapper {
  position: relative;
}

.img-wrapper::after {
  overflow: hidden;
  height: inherit;
  border-radius: 8px;
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 1;
  inset: 0px;
  /* background: #26252d; */
  /* opacity: 70%; */
  background: linear-gradient(rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.8) 70%);
}
.card-btn {
  text-decoration: none;
  border: white solid 1px;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.project_title {
  position: absolute;
  bottom: 20%;
  z-index: 999 !important;
  padding: 1.5rem 1rem;
  color: white;
}

.btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  gap: 1rem;
  z-index: 11;
  padding: 1rem 1rem;
}

.card-text {
  position: absolute;
  bottom: 0;
  z-index: 999 !important;
  padding: 2rem;
}

@media screen and (max-width: 800px) {
  .resume_wrapper .resume_right .resume_namerole {
    display: none;
  }
  .resume_wrapper .resume_left .resume_namerole {
    display: block;
  }

  .resume_wrapper {
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
  }
  .resume_wrapper .resume_left,
  .resume_wrapper .resume_right {
    width: 100%;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .resume_wrapper .resume_right {
    padding: 20px 30px;
  }
  .resume_wrapper .resume_right .resume_data {
    flex-direction: column;
  }
  .resume_wrapper .resume_right .resume_data .year:before,
  .resume_wrapper .resume_right .resume_data .year:after {
    display: none;
  }
  .resume_wrapper .resume_right .resume_data .content {
    width: 100%;
    padding: 0;
  }
}
